---
// Imports
import Layout from '@/layouts/Layout.astro'
import App from '@/components/app/main-app'
---

<Layout
	title="App Dashboard"
	description="Manage your application settings and data"
	hideNavbar
	hideFooter
>
	<App client:idle>
		<h1>Clip creator</h1>
	</App>
</Layout>
